= render partial: "bill", collection: @bills
%div.row
  %div.col-md-6.text-center
    - if ! @bills_query.previous.blank?
      = link_to searches_bills_path + '?q='+params[:q]+'&page=' + (params[:page].to_i - 1).to_s + '&bills=1', :class => 'btn btn-default' do
        %i.fa.fa-long-arrow-left
        = t('pagination.previous')

  %div.col-md-6.text-center
    - if ! @bills_query.next.blank?
      / we need change this shit
      - page = 2
      - if ! params[:page].blank?
        - page = params[:page].to_i + 1
      = link_to searches_bills_path + '?q='+params[:q].to_s+'&page=' + page.to_s + '&bills=1', :class => 'btn btn-default' do
        = t('pagination.next')
        %i.fa.fa-long-arrow-right

- if @bills.count == 0
  %p.text-center
    = t('search.there_are_no_results')