= form_for @bill do |f|
  - if @bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bill.errors.count, "error")} prohibited this bill from being saved:"
      %ul
        - @bill.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :uid
    = f.text_field :uid
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :creation_date
    = f.text_field :creation_date
  .field
    = f.label :source
    = f.text_field :source
  .field
    = f.label :initial_chamber
    = f.text_field :initial_chamber
  .field
    = f.label :current_priority
    = f.text_field :current_priority
  .field
    = f.label :stage
    = f.text_field :stage
  .field
    = f.label :sub_stage
    = f.text_field :sub_stage
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :resulting_document
    = f.text_field :resulting_document
  .field
    = f.label :merged_bills
    - merged_bills = @bill.merged_bills.join("; ") if !@bill.merged_bills.blank?
    = f.text_field :merged_bills, value: merged_bills
    = f.text_field :merged_bills
  .field
    = f.label :subject_areas
    - subject_areas = @bill.subject_areas.join("; ")
    = f.text_field :subject_areas, value: subject_areas
  .field
    = f.label :authors
    - authors = @bill.authors.join("; ")
    = f.text_field :authors, value: authors
  .field
    = f.label :publish_date
    = f.text_field :publish_date
  .field
    = f.label :tags
    - tags = @bill.tags.join("; ")  if !@bill.tags.blank?
    = f.text_field :tags, value: tags
  .actions
    = f.submit 'Save'
