= form_for @bill do |f|
  - if @bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bill.errors.count, "error")} prohibited this bill from being saved:"
      %ul
        - @bill.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :uid
    = f.text_field :uid
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :creation_date
    = f.text_field :creation_date
  .field
    = f.label :source
    = f.text_field :source
  .field
    = f.label :initial_chamber
    = f.text_field :initial_chamber
  .field
    = f.label :current_priority
    = f.text_field :current_priority
  .field
    = f.label :stage
    = f.text_field :stage
  .field
    = f.label :sub_stage
    = f.text_field :sub_stage
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :resulting_document
    = f.text_field :resulting_document
  .field
    = f.label :law_id
    = f.text_field :law_id
  .field
    = f.label :merged_bills
    = f.text_field :merged_bills
  .field
    = f.label :subject_areas
    = f.text_field :subject_areas
  .field
    = f.label :authors
    = f.text_field :authors
  .field
    = f.label :publish_date
    = f.text_field :publish_date
  /
    .field
      = f.label :tags
      = f.text_field :tags
  
  .actions
    %button.save
      Save

:javascript
  
  $(document).ready(function(){
    $.fn.serializeObject = function()
    {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
        if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
          }
          o[this.name].push(this.value || '');
        } else {
          len = this.name.length;
          if( this.name.substring(0, 4) == "bill")
            o[this.name.substring(5, len-1)] = this.value || '';
          //else
          //  o[this.name] = this.value || '';
        }
      });
      return o;
    };

    $('button.save').on('click', function(event){
      event.preventDefault();
      $.ajax({
        type: 'PUT',
        url: $('form.edit_bill').attr('action'),
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify( $('form.edit_bill').serializeObject() )
      }).done(function() {
       // console.log( 'done: ' + JSON.stringify( $('form.edit_bill').serializeObject() ) );
       
      }).fail(function(event) {
        console.log(event.status +' : '+ event.statusText +', \n'+ event.responseText)
        console.log( 'fail: '+ JSON.stringify( $('form.edit_bill').serializeObject() ) ) ;
      });
    });
  })